*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100vh;
    position: relative;
}
.navi{
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}
h3{
    font-size: 2rem;
}
.list{
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    gap: 3rem;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    display: flex;
    gap: 0.6rem;
}
.btn1{
    transition: all 0.4s ease-in-out;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    &:hover{
         background-color: rgb(232, 178, 178);
         cursor: pointer;
    }
}
.btn2{
    transition: all 0.4s ease-in-out;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 1rem;
    background-color: red;
     &:hover{
        background-color: rgb(232, 178, 178);
        cursor: pointer;
    }
}
.banner{
    padding-top: 5rem;
    /* background-color: rgb(135, 132, 232); */
    background-image: url(./Image/Cyber.jpg);
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper span{
    margin: 2rem 0 2rem 0;
    padding: 0.1rem 2rem;
    background-color: rgba(2, 248, 248, 0.896);
    border-radius: 1rem;
}
.btn3{
    margin-right: 1rem;
    transition: all 0.4s ease-in-out;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 1rem;
    background-color: red;
     &:hover{
        background-color: rgb(232, 178, 178);
        cursor: pointer;
    }
}
.btn4{
    transition: all 0.4s ease-in-out;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 1rem;
    /* background-color: red; */
     &:hover{
        background-color: rgb(232, 178, 178);
        cursor: pointer;
    }
}
.buttons{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}
.num {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding-bottom: 2rem;
}
/* .More{
    display: flex;
    justify-content:end;
    align-items: end;
} */
.courses{
    /* position: relative; */
    display: flex;
    /* gap:1rem; */
    flex-wrap: wrap;
}
.para{
    padding: 0.3rem 0  0 2rem;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    margin: 1rem;
    /* padding:1rem; */
    border:2px solid rgb(255, 254, 254);
    border-radius: 1rem;
    width:29rem;
    height:22rem;
}
.pic1{
    width: 28rem ;
}
/* .c1{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.mid span{
    background-color: rgb(243, 201, 147);
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 0.8rem;
}
.end{
    display: flex;
    justify-content: space-around;
}
.catagories{
    background-color: rgb(216, 182, 216);
    border-radius: 1.4rem;
}
.txt{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}
.maincata{
 display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cata1,.cata2,.cata3,.cata4,.cata5,.cata6,.cata7,.cata8{
    width: 20rem;
    height: 10rem;
    margin: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cata1,.cata3,.cata5,.cata7{
    background-color: antiquewhite;
    border-radius: 1rem;
}
.cata2,.cata4,.cata6,.cata8{
    background-color: aquamarine;
    border-radius: 1rem;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aftercata{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn6{
    transition: all 0.4s ease-in-out;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    background-color: rgb(250, 0, 0);
    font-size: 1rem;
    /* background-color: red; */
     &:hover{
        background-color: rgb(52, 237, 24);
        color: #f9faf9;
        cursor: pointer;
}
}
.btn7{
     transition: all 0.4s ease-in-out;
    padding: 0.4rem 0.4rem;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 1rem;
    /* background-color: red; */
     &:hover{
        background-color: rgb(232, 178, 178);
        cursor: pointer;
    }
}
.last{
    padding: 0.3rem 0 3rem 0; 
    background-color: black;
    border-radius: 0 0 2rem 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}